.info-detail p, .knowledge-detail p {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 15px;
    line-height: 23px;
}
.info-detail, .knowledge-detail {
    font-size: 16px;
    padding: 13px 15px 0;
}
.info-detail img, .knowledge-detail img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.marker-content {
    white-space: nowrap;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* picture */
.dx-gallery-item {
    display: table;
}
.picture {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.picture > img {
    width: 100%;
}
