<div data-options="dxView: {name: 'info', title: '资讯'}" >
    <div data-options="dxContent: { targetPlaceholder: 'content' } " >
        <div class="info-list" data-bind="dxList: {
            dataSource: feedEntrySource,
            autoPagingEnabled: autoPagingEnabled,
            showNextButton: showNextButton,
            pullRefreshEnabled: pullRefreshEnabled,
            pullingDownText: pullingDownText,
            pulledDownText: pulledDownText,
            pullRefreshAction: pullRefreshAction
        }">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: function() {$root.navigateDetail($data);}">
                <div class="info">
                    <p data-bind="text: title"></p>
                    <p><small data-bind="text: publishedDate"></small></p>
                </div>
            </div>
        </div>
    </div>
</div>