<div data-options="dxView: {name: 'info', title: '资讯'}" >
    <div data-options="dxContent: { targetPlaceholder: 'content' } " >
        <div data-bind="dxLoadPanel: { message: loadPanelMessage, visible: loadPanelVisible }"></div>
        <div data-bind="dxList: {dataSource: feedEntries, pullRefreshEnabled: true}, visible: isLoaded">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="dxAction: function() {$root.navigateDetail($data);}">
                <p><small data-bind="text: title"></small></p>
                <p><small data-bind="text: publishedDate"></small></p>
            </div>
        </div>
    </div>
</div>