<div data-options="dxView: {name: 'knowledgeDetail'}">
    <div data-options="dxContent: {targetPlaceholder: 'content'}">
        <div data-bind="dxActionSheet: {visible: actionSheetVisible, dataSource: actionSheetItems, showTitle: false}"></div>
        <div id="knowledge-detail-scroll-view" data-bind="dxScrollView: {}">
            <div class="knowledge-detail">
                <div data-bind="foreach: paragraphs">
                    <div data-bind="if: 'image' in $data">
                        <img data-bind="attr: {src: image}, click: function() {$root.navigatePicture($index());}"/>
                    </div>
                    <p data-bind="text: paragraph"></p>
                </div>
            </div>
        </div>
    </div>
</div>