<div data-options="dxView: {name: 'knowledgeDetail'}">
    <div data-bind="dxCommand: { id: 'back', title: 'Back', icon: 'arrowleft', action: '#_back' }" ></div>
    <div data-bind="dxCommand: { id: 'share', title: 'share', icon: 'globe', action: share }" ></div>
    <div data-options="dxContent: {targetPlaceholder: 'content'}">
        <div data-bind="dxScrollView: {}">
            <div class="knowledge-detail">
                <div data-bind="foreach: paragraphs">
                    <div data-bind="if: 'image' in $data">
                        <img data-bind="attr: {src: image}, click: function() {$root.navigatePicture($index());}"/>
                    </div>
                    <p data-bind="text: paragraph"></p>
                </div>
            </div>
        </div>
    </div>
</div>