<div data-options="dxView: {name: 'knowledgeDetail'}">
    <div data-bind="dxCommand: { id: 'back', title: 'Back', icon: 'arrowleft', action: '#_back' }" ></div>
    <div data-options="dxContent: {targetPlaceholder: 'content'}">
        <div class="knowledge-detail" data-bind="dxScrollView: {}">
            <div data-bind="foreach: content">
                <div data-bind="ifnot: isImage">
                    <p data-bind="text: content"></p>
                </div>
                <div data-bind="if: isImage">
                    <img data-bind="if: isImage, attr: {src: content}">
                </div>
            </div>
        </div>
    </div>
</div>