<div data-options="dxView: {name: 'share'}" >
    <div data-bind="dxCommand: { id: 'back', title: 'Back', icon: 'arrowleft', action: '#_back' }" ></div>
    <div data-options="dxContent: {targetPlaceholder: 'content'}" >
        <button onclick="window.plugins.socialsharing.shareViaSMS('My cool message', null /* see the note below */, function(msg) {alert('ok: ' + msg)}, function(msg) {alert('error: ' + msg)})">share via SMS</button>
        <button onclick="window.plugins.sharePlugin.toWeChet('hi', 'yeah', function(msg) {alert('ok: ' + msg)}, function(msg) {alert('error: ' + msg)})">share via mm</button>
    </div>
</div>