<div class="navbar-layout" data-options="dxLayout : { name: 'empty', platform: 'ios' } " >
    <div class="transition-frame" data-options="dxTransition: { name: 'main', type: 'slide' }">
        <div class="layout-header">
            <div data-bind="dxToolbar: { items: [ { text: title, location: 'center' } ] }" 
                 data-options="dxCommandContainer : { id: 'ios-header-toolbar' }">
            </div>
        </div>

        <div class="layout-content dx-ios-stripes" data-options="dxContentPlaceholder : { name: 'content' }">
            <div class="dx-loadindicator-container">
                <div data-options="dxLoadIndicator: { visible: true }"></div>
            </div>
        </div>
    </div>

</div>
